@import "../../common/base.less";
.home {
  width:100%;
  height:auto;
  background:#534c73;
  .container{
      margin:0 auto;
  }
  .topline{
      background:#8579bc;
      .px2rem(width, 1346);
      .px2rem(height, 621);
      h2{
          .px2rem(font-size,36);
          color:#f3d202;
          font-weight: bold;
      }
        .videos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        
        .big{
            .px2rem(width,482);
            .px2rem(height,288);
            .px2rem(margin-top, 20);
            display: flex;
            flex-direction: column;
            .img {
                .px2rem(height, 254);
                width:100%;
                background: deepskyblue;
            }
            .msg {
                .px2rem(height,30);
                width:100%;
                background: #615a87;
            }
        }
        .rightitem{
            .px2rem(width,828);
            .px2rem(height,288);
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            .item {
                .px2rem(width, 180);
                .px2rem(height, 134);
                display: flex;
                flex-direction: column;
                .img {
                    .px2rem(height, 100);
                    width:100%;
                    background: deepskyblue;
                }
                .msg {
                    .px2rem(height,30);
                    width:100%;
                    background: #615a87;
                }
            }
        }
        .big, .rightitem, .bottomitem{
            .item{
                .px2rem(margin-top, 20);
            }
        }
        .bottomitem{
            width:100%;
            .px2rem(height, 178);
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            .item {
                .px2rem(width, 254);
                .px2rem(height, 178);
                display: flex;
                flex-direction: column;
                .img {
                    .px2rem(height, 144);
                    width:100%;
                    background: deepskyblue;
                }
                .msg {
                    .px2rem(height,30);
                    width:100%;
                    background: #615a87;
                }
            }
        }
     }
    }
    .message{
      .px2rem(width, 1346);
      .px2rem(margin-top, 40);
      h2{
          .px2rem(font-size,36);
          color:#f3d202;
          font-weight: bold;
      }
        .videos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        
        .big{
            .px2rem(width,482);
            .px2rem(height,288);
            .px2rem(margin-top, 20);
            display: flex;
            flex-direction: column;
            .img {
                .px2rem(height, 254);
                width:100%;
                background: deepskyblue;
            }
            .msg {
                .px2rem(height,30);
                width:100%;
                background: #615a87;
            }
        }
        .rightitem{
            .px2rem(width,828);
            .px2rem(height,288);
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            .item {
                .px2rem(margin-top, 20);
                .px2rem(width, 180);
                .px2rem(height, 134);
                display: flex;
                flex-direction: column;
                .img {
                    .px2rem(height, 100);
                    width:100%;
                    background: deepskyblue;
                }
                .msg {
                    .px2rem(height,30);
                    width:100%;
                    background: #615a87;
                }
            }
        }
        .ad{
            width:100%;
            .px2rem(height, 148);
            .px2rem(margin-top, 40);
            background: #fff;
        }
     }
    }
    .amuse{
      .px2rem(width, 1346);
      .px2rem(margin-top,40);
      
      h2{
          .px2rem(font-size,36);
          color:#f3d202;
          font-weight: bold;
      }
        .videos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        .item{
            .px2rem(width,254);
            .px2rem(height,178);
            .px2rem(margin-top, 20);
            display: flex;
            flex-direction: column;
            .img {
                .px2rem(height, 144);
                width:100%;
                background: deepskyblue;
            }
            .msg {
                .px2rem(height,30);
                width:100%;
                background: #615a87;
            }
        }
     }
    }
    .joke{
      .px2rem(width, 1346);
      .px2rem(margin-top, 40);
      h2{
          .px2rem(font-size,36);
          color:#f3d202;
          font-weight: bold;
      }
        .videos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        
        .item{
            .px2rem(width,254);
            .px2rem(height,178);
            .px2rem(margin-top, 20);
            display: flex;
            flex-direction: column;
            .img {
                .px2rem(height, 144);
                width:100%;
                background: deepskyblue;
            }
            .msg {
                .px2rem(height,30);
                width:100%;
                background: #615a87;
            }
        }
     }
    }
   .talkshow{
      .px2rem(width, 1346);
      .px2rem(margin-top, 40);
      h2{
          .px2rem(font-size,36);
          color:#f3d202;
          font-weight: bold;
      }
        .videos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        
        .big{
            .px2rem(width,482);
            .px2rem(height,288);
            .px2rem(margin-top, 20);
            display: flex;
            flex-direction: column;
            .img {
                .px2rem(height, 254);
                width:100%;
                background: deepskyblue;
            }
            .msg {
                .px2rem(height,30);
                width:100%;
                background: #615a87;
            }
        }
        .rightitem{
            .px2rem(width,828);
            .px2rem(height,288);
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            .item {
                .px2rem(width, 180);
                .px2rem(height, 134);
                .px2rem(margin-top, 20);
                display: flex;
                flex-direction: column;
                .img {
                    .px2rem(height, 100);
                    width:100%;
                    background: deepskyblue;
                }
                .msg {
                    .px2rem(height,30);
                    width:100%;
                    background: #615a87;
                }
            }
        }
        .loadmore{
           .px2rem(height,50);
           background: #999;
        }
     }
    }
}